/*** Global styles ***/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
}

div {
    display: block;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}


/*** Header Section styles ***/

header {
    position: absolute;
    top: 0;
    width: 100%;
}

header button {
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 0.4em 1em;
    font-weight: bold;
}

header a {
    color: #555
}

header ul {
    float: right;
    padding: 2em;
}

header ul li {
    margin-left: 1em;
    padding-bottom: 4px;
}

header ul li a:hover {
    text-decoration: underline;
}


/** Contet section styles **/

.content {
    clear: both;
    margin: 0 auto;
    padding: 10% 0;
}

.logo {
    display: block;
    margin: 0 auto;
    background-size: 272px 92px;
    height: 92px;
    width: 272px;
    background: url(../img/googlelogo_color_272x92dp.png) no-repeat;
}

input {
    display: block;
    margin: 0 auto;
}

.logo-subtext {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 215px;
    position: relative;
    top: 76px;
    white-space: nowrap;
}

input {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    padding: 0.9em 1em;
    width: 45%;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 1px;
}

input:hover {
    background-color: #a0a0a0;
}

input:focus {
    border-color: #4d90fe;
}

.search {
    text-align: center;
}

.search button {
    border: none;
    color: #858585;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: .8em 1.5em;
    font-size: .9em;
    border-radius: 1px;
    margin-right: .3em;
    font-weight: bold
}

.search button:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #444;
    box-shadow: 0px 1px 2px 0px #e3e3e3;
}

.search button:active {
    border-color: #4d90fe;
}


/** footer styles **/

footer {
    font-size: 0.9em;
    background-color: #f2f2f2;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer a {
    color: #666
}

footer a:hover {
    text-decoration: underline;
}

.links-left {
    float: left;
    padding-left: 3em;
}

.links-left li {
    margin-right: 2em;
}

.links-right {
    float: right;
    padding-right: 3em;
}

.links-right li {
    margin-left: 2em;
}